@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

*{
  font-family: 'Ubuntu', sans-serif;

}

/* if you want to remove the blue color on click mobile */
/* * {  -webkit-tap-highlight-color: transparent;}  */

/* custom styling for tag input component  */
.rti--container {
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.06) ;
    border:1px  solid rgb(156 163 175/1)
    
  }
  

  table, th, td {
    border: 1px solid black;
  }

/* draft styling */



.toolbarClassName{
  border-bottom: 1px solid gray;
  margin:0px;
}





.editorClassName{
  padding:5px 10px;
  height: 400px;
 
    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05) !important;
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color) !important;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;

  display: flex;
  word-break: break-word;
  width: 100%;
}


/* details > summary {
  list-style: "⌄";
} */
/* details > summary::-webkit-details-marker {
  display: none;
} */

details > summary {
  list-style-type: none;
} 

summary::after {
  content: " ▼";
}
details[open] summary:after {
  content: " ▼";
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#search  {
 border-radius: 0;
  -webkit-border-radius:0;
  -webkit-appearance:none;
}
#categories_mobile{
 border-radius: 0;
  -webkit-border-radius:0;
  -webkit-appearance:none;
}
